{{ define "layout" }}
<!DOCTYPE html>
<html>
<head>
  <title>{{ .Title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- Pure CSS -->
  <link rel="stylesheet" href="/lib/pure/pure-min.css" />
  <link rel="stylesheet" href="/lib/pure/grids-responsive-min.css" />

  <link rel="stylesheet" href="/css/main.css" />

</head>
<body>

  <div class="container">

    <h1>{{ .Title }}</h1>

    <a href="/admin">Admin Panel</a>

    {{ template "content" . }}

  </div>

</body>
</html>
{{ end }}
