<div class="form-container category-form">
    <h1 class="form-title">{{record.Id ? record.Name : '[New]'}}</h1>

    <div class="form-buttons">
        <button class="new-button pure-button" ng-click="new()">New</button>
        <button class="save-button pure-button" ng-click="save()">Save</button>
        <button class="delete-button pure-button" ng-click="delete()">Delete</button>
    </div>

    <form class="pure-form" name="entityForm">
        <div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4" for="name-input">Name</label>
            <input class="pure-u-1 pure-u-md-3-4" id="name-input" type="text" placeholder="Title" ng-model="record.Name" required>
        </div>

        <div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4">Parent Category</label>
            <div class="pure-u-1 pure-u-md-3-4">
                <div category-field="record.Parent" category-mode="one"></div>
            </div>
        </div>
    </form>

</div>