<div class="form-container">

    <h1 class="form-title">Sign in</h1>

    <p>You need to sign in to access this area. Please sign in below.</p>

    <p>To create an account please <a ui-sref="auth.register">register</a></p>

    <form class="pure-form" ng-submit="signIn()" name="signInForm">
        <fieldset>
            <div class="pure-g">
                <label class="pure-u-1 pure-u-md-1-4" for="email-input">Email</label>
                <input class="pure-u-1 pure-u-md-3-4" id="email-input" type="email" placeholder="Email" ng-model="user.email" required />
            </div>

            <div class="pure-g">
                <label class="pure-u-1 pure-u-md-1-4" for="password-input">Password</label>
                <input class="pure-u-1 pure-u-md-3-4" id="password-input" type="password" placeholder="Password" ng-model="user.password" required />
            </div>
        </fieldset>

        <div class="form-buttons">
            <button class="pure-button" ng-click="setAdmin()">Admin Demo</button>
            <button class="save-button pure-button">Login</button>
        </div>
    </form>

</div>