<div class="form-container product-form">

    <h1 class="form-title">{{record.Id ? record.Name : '[New product]'}}</h1>

    <div class="form-buttons">
        <button class="new-button pure-button" ng-click="new()">New</button>
        <button class="save-button pure-button" ng-click="save()">Save</button>
        <button class="delete-button pure-button" ng-click="delete()">Delete</button>
    </div>

    <form class="pure-form" name="productForm">
        <div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4" for="name-input">Name</label>
            <input class="pure-u-1 pure-u-md-3-4" id="name-input" type="text" placeholder="Title" ng-model="record.Name" required>
        </div>
        <div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4" for="description-input">Description</label>
            <textarea class="pure-u-1 pure-u-md-3-4" id="description-input" placeholder="Description" ng-model="record.Description" rows="5"></textarea>
        </div>
        <div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4" for="price-input">Price</label>
            <input class="pure-u-1 pure-u-md-3-4" id="price-input" type="number" placeholder="Price" ng-model="record.Price">
        </div>

        <div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4">Categories</label>
            <div class="pure-u-1 pure-u-md-3-4">
                <div category-field="record.Categories" category-mode="many"></div>
            </div>
        </div>

        <div class="pure-g">
            <label class="pure-u-1 pure-u-md-1-4">Image</label>
            <div class="pure-u-1 pure-u-md-1-4" file-upload="newImage" file-upload-indicator="newImageIndicator"></div>
        </div>
        <div class="pure-g">
            <span class="pure-u-1 pure-u-md-1-4"></span>
            <span class="pure-u-1 pure-u-md-3-4">{{newImageIndicator}}</span>
        </div>

        <div class="pure-g">
            <span class="pure-u-1 pure-u-md-1-4"></span>
            <div class="pure-u-1 pure-u-md-3-4 images">
                <div ng-repeat="image in record.Images" class="image">
                    <img ng-src="{{image.FilePath}}" alt="{{image.FileName}}" />
                    <p>{{image.FileName}}</p>
                </div>
            </div>
        </div>
    </form>

</div>