<div id="records-layout" class="layout pure-g">
    <div id="menu" class="pure-u-1 pure-u-md-1-6">
        <ul>
            <li><a ui-sref="dashboard">Dashboard</a></li>
            <li><a ui-sref="records.users.new">Users<span class="count" ng-show="itemCounts.User"> ({{itemCounts.User}})</span></a></li>
            <li><a ui-sref="records.products.new">Products<span class="count" ng-show="itemCounts.Product"> ({{itemCounts.Product}})</span></a></li>
            <li><a ui-sref="records.categories.new">Categories<span class="count" ng-show="itemCounts.Category"> ({{itemCounts.Category}})</span></a></li>
        </ul>
    </div>

    <div id="main" class="pure-u-1 pure-u-md-5-6">
        <div ui-view><!-- Templates specified in router (app.js) get injected here --></div>
    </div>
</div>